* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

/* body {
  line-height: 1.4;
  color: #975c10;
  background-color: #e0e1cc;
} */
