.wrapper {
  overflow: hidden;
}
.hide{
  display: none !important;
  background-color: red;
}
@media screen and (max-width: 600px) {
  .MobileView {
   
    width: 50%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Center the image */
    height: auto;
  }
 
}
